---
// Footer component with links, contact info, and payment icons
---

<footer class="footer">
  <div class="container-xl">
    <div class="row py-5 mt-5">
      <div class="col-md mb-3 mb-md-0">
        <div class="mb-3">About us</div>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/">Home</a></li>
          <li class="mb-2"><a href="/shop/">Shop</a></li>
        </ul>
      </div>
      <div class="col-md mb-3 mb-md-0">
        <div class="mb-3">Account & Info</div>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/cart/">Cart</a></li>

          <li class="mb-2"><a href="/accounts/logout/">Logout</a></li>
        </ul>
      </div>
      <div class="col-md mb-3 mb-md-0">
        <div class="mb-3">Support & Terms</div>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="/faq"><span>FAQ</span></a>
          </li>
          <li class="mb-2"><a href="/terms/">Terms & Conditions</a></li>
          <li class="mb-2"><a href="/privacy/">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md mb-3 mb-md-0">
        <div class="mb-3">Contact us</div>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/support/">Contact </a></li>
          <li class="mb-2">
            <a href="tel:(888) 242-5491">888-CIALIX-1 </a>
          </li>
          <li class="mb-2">
            <a href="mailto:support@cialix.com">support@cialix.com</a>
          </li>
        </ul>
      </div>

      <div class="col-md mb-3 mb-md-0">
        <div class="mb-3">Address</div>
        <address>
          Cialix LLC<br />
          15560 N. Frank Lloyd Wright<br />
          Suite B4 #7035<br />
          Scottsdale, AZ<br />
          85260<br />
          United States<br />
        </address>
      </div>
    </div>
    <div class="row py-5 border-top">
      <div class="col-sm mb-4 mb-sm-0">
        &copy;2025 Cialix. All Rights Reserved
      </div>
      <div class="col-sm-auto">
        <div class="d-flex align-items-center">
          <span class="pay-icon pay-icon-visa"></span>&nbsp;
          <span class="pay-icon pay-icon-mc"></span>&nbsp;
          <span class="pay-icon pay-icon-ppal"></span>&nbsp;
          <span class="pay-icon pay-icon-amex"></span>&nbsp;
          <span class="pay-icon pay-icon-discover"></span>&nbsp;
        </div>
      </div>
      <div class="col-12 pt-3">
        <span class="fs-9"
          >† These statements have not been evaluated by the Food and Drug
          Administration. This product is not intended to diagnose, treat, cure
          or prevent any disease.</span
        >
      </div>
    </div>
  </div>
</footer>
