---
import * as increase from '../content/increase.md';
---

<section class="store_section increase-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 store_section--item is-testosterone">
        <div class="store_section--item_inner p-3">
          <div class="store_section--item_content p-2">
            <div class="increase-section--title">
              <h4>{increase.frontmatter.sections[2].title}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 store_section--item is-performance">
        <div class="store_section--item_inner p-3">
          <div class="store_section--item_content p-2">
            <div class="increase-section--title">
              <h4>{increase.frontmatter.sections[1].title}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 store_section--item is-flow">
        <div class="store_section--item_inner p-3">
          <div class="store_section--item_content p-2">
            <div class="increase-section--title">
              <h4>{increase.frontmatter.sections[0].title}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

