---
import * as logoSectionContent from '../content/logo-section.md';
---

<section class="store_feature is-feature-2 py-5">
  <div class="container-xl">
    <div class="store_feature-content">
      <div class="store_feature-img">
        <img
          src={logoSectionContent.frontmatter.image}
          alt={logoSectionContent.frontmatter.alt}
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
